<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="d-flex justify-space-between gap-5">
            <span>Invoicify</span>

            <div class="d-flex justify-space-between gap-3">
                <button mat-button>Dashboard</button>
                <button mat-button>Print Invoice</button>
                <button mat-button>Update Invoice</button>
                <button mat-button>About</button>
            </div>
        </div>

        <span class="example-spacer"></span>

        <div class="d-flex justify-space-between gap-3">
            <button mat-raised-button>Login</button>
            <button mat-raised-button color="primary">Register</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>